.cart{
    margin-top:20px;
}

    .cart-items-title{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        font-size: max(1vw , 15px);
    }

    .cart-items-item{
        display: grid;
        margin: 10px 0px;
        color:black;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        
    }

    .cart-items-item img{
        width: 90px;
    }
   .cart hr{
        background-color: black;
        height: 2px;
        border: none;
        
    }

    .cart-items-item .cross{
        cursor: pointer;
    }

    .cart-bottom{
        margin-top:80px;
        display: flex;
        justify-content: space-between;
        gap:max(12vw,20px)
    }

    .cart-total{
        flex:1;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .cart-total-detail{
        display: flex;
        justify-content: space-between;

    }

    .cart-total hr{
        margin:10px 0px;
    }

    .cart-total button{
        border:none;
        background-color: tomato;
        color:white;
        border-radius:20px ;
        width: max(15vw,200px);
        padding: 12px 0px;
        cursor:pointer;

    }

    .cart-promocode{
        flex:1
    }

    .cart-promocode p{
        color:gray
    }

    .cart-promocode-input{
        margin-top: 10px;
        display: flex
        
        ;
        justify-content: space-between;
        align-items: center;
    }

    .cart-promocode-input input{
        
        outline: none;
        padding-left:10px;
        background-color:aliceblue;
        
        width: 100%;
    }

    .cart-promocode-input button{
    background-color: black;
    color:white;
    width: max(1vw,100px);
    }

    .cross{
        background-color:orangered;
        color:white;
        text-align: center;
        border-radius: 20px;
        width:100px;

    }

    .cross:hover{
        background-color:chartreuse;
        color:black;
        transition:1s linear
    }

    

    @media (max-width:750px) {

        .cart-bottom{
            flex-direction: column-reverse;

        }
         
        .cart-promocode{
            justify-content: start;
        }
        
    }

    @media (orientation: portrait){
        

          .cart-items-item{
            display:grid;
            grid-template-columns:auto auto ;
            grid-template-rows: auto auto;
            border-radius: 9px;
            box-shadow: 3px 3px 10px 1px gray;
            padding:10px;
            align-items: center;
          }
          
          .cart-items-title{
            display: none;

          }

          .cart-items-item img{
            height: 110px;
            width:120px;
            border: solid 3px gray;
            padding: 3px;
            border-radius: 9px;
            box-shadow: 3px 3px 10px 1px gray;
            grid-row:1/4;
            align-self:start
          }

          .item-4{
            margin: auto auto;
          }
          /* .item-1 {order:}
          .item-2 {order:}
          .item-3 {order:}
          .item-4 {order:}
          .item-5 {order:} */

    }

    @media (orientation:landscape) and (max-width:750px){
   .cart-items-item {
  display: grid;
  justify-items:space-between;
  grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
  grid-template-rows: auto auto;      /* 2 rows */

  border-radius: 9px;
  box-shadow: 3px 3px 10px 1px gray;
  padding: 10px;
}

       
          
          .cart-items-title{
            display: none;

          }

          .cart-items-item img{
            height: 122px;
            width:162px;
            border: solid 3px gray;
            padding: 3px;
            border-radius: 9px;
            box-shadow: 3px 3px 10px 1px gray;
            grid-row:1/4;
            align-self:start
          }

    }